html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
form h1 {
  color: rgba(245, 245, 245, 0.829);
  font-family: "Josefin Sans", sans-serif;
}
select {
  width: 270px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(245, 245, 245);
  margin: 15px;
  text-align: center;
}
input {
  margin: 15px;
}
form a {
  width: 270px;
  height: 40px;
  border-radius: 40px;
  background-color: #d0fd3e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(31, 29, 29);
  margin: 15px;
}
form a:hover {
  background-color: #d0fd3eb9;
}
.Single-Routine {
  margin: 20px;
  border: 5px inset rgba(245, 245, 245, 0.829);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ActivitiesTable {
  width: 100%;
}
.RoutineInfo {
  color: rgba(245, 245, 245, 0.829);
}
.ActivitiesInfo {
  color: rgba(245, 245, 245, 0.829);
}
th {
  background-color: #d0fd3eb9;
}
td {
  border: 1px inset #d0fd3eb9;
}
.a {
  color: #d0fd3eb9;
}
table {
  margin: 25px;
}
.spacer {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 25px;
}
#ActivitiesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(245, 245, 245, 0.829);
}
#ActivityTable {
  width: 80vw;
  border-radius: 50%;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0, 0.15);
}
#RoutinesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#NewRoutineForm {
  border: 5px inset rgba(245, 245, 245, 0.829);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}
#isPublic {
  height: 25px;
  width: 25px;
}
#OutdatedPost {
  border: 5px inset rgba(245, 245, 245, 0.829);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}
#UpdatingRoutineForm {
  border: 5px inset rgba(245, 245, 245, 0.829);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}
form span {
  font-family: "Josefin Sans", sans-serif;
}
.AddActivityToRoutine {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px inset #d0fd3eb9;
  width: 60%;
}
#AddActivityForm {
  border: 5px inset rgba(245, 245, 245, 0.829);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#HomePage h1 {
  color: rgba(245, 245, 245, 0.829);
}
